@use "base/variables" as v;
@use "base/mixins" as m;



.barra {
  background-color: v.$verde;

  a {
    color: v.$blanco;
    font-size: 2rem;
    text-decoration: none;
    margin: 0 2rem;
  }
}

.logo {
  width: 100px;
}




.portada {
  background-image: url(../../img/fondoIbera.jpg);
  background-size: cover;
  background-position: bottom;
  height: 50vh;
  width: 100%;

  .titulo {
    color: v.$blanco;
    text-align: center;
    font-size: 4rem;
    padding-top: 10rem;
  }

  .subtitulo {
    color: v.$blanco;
    text-align: center;
    font-size: 2rem;
    padding-top: 1rem;
  }
}

.galeria-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  padding: 20px;
  grid-gap: 20px;
}

.galeria-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.galeria-item:nth-child(1) {
  grid-row-start: span 2;
}

.galeria-item:nth-child(4) {
  @extend .galeria-item, :nth-child(1);
}

.galeria-item:nth-child(7) {
  @extend .galeria-item, :nth-child(1);
}

.productos {
  display: flex;
  justify-content: center;
  align-items: center;

  a{
    &:hover {
      transform: scale(1.1); 
    }
  
    &:active {
      animation: pulse 0.5s infinite; 
    }
  
    @keyframes pulse {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.2);
      }
      100% {
        transform: scale(1);
      }
    }
  }
}

@include m.mobile {
  .galeria-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .titulo {
    padding-top: 0rem;
  }
}

footer{
height: 100px;

  .barra{
    background-color: v.$verde;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: v.$blanco;
    font-size: 1.5rem;
   
    
    

  }
}

.galeria-item:hover{
  transform:scale(1.2);
  transition:0.5s;
  border: 10px solid red;
}



